@import url("import/imported.css");
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --color-foo: blue;
  --color-bar: black;
}
.foo {
  font-size: 2rem;
  background: var(--color-foo);
  width: calc(100% - 50px);
}
@media screen and (min-width: 36em) {
  .foo {
    color: var(--color-foo);
  }
}
@media screen and (min-width: 36em) {
  .foo {
    background: linear-gradient(green, blue);
  }
}