:root {
	--color-primary: red;
	--color-secondary: var(--color-primary);
}
.e {
	color: var(--color-primary);
}
@media screen {
	.e {
		background: linear-gradient(var(--color-primary), var(--color-secondary));
	}
}